# Primer - BBC

* Uporabimo bazo [`bbc.db`](bbc.db).
* Izpišimo imena vseh evropskih držav.

Uvozimo podatkovni vmesnik in se povežimo na bazo.

In [1]:
import sqlite3 as dbapi
povezava = dbapi.connect("bbc.db")
kazalec = povezava.cursor()

Zapišimo naš ukaz in ga izvedimo.

In [21]:
sql = "SELECT * FROM bbc WHERE region = 'Europe'"
kazalec.execute(sql)        # izvedemo ukaz

ProgrammingError: Cannot operate on a closed cursor.

Preberimo celoten rezultat v seznam in izpišimo imena držav.

In [3]:
zapisi = kazalec.fetchall() # preberemo tabelo z rezultati
for vrstica in zapisi:
    print(vrstica[0])       # ime je prvi element nabora

Albania
Andorra
Armenia
Austria
Azerbaijan
Belarus
Belgium
Bosnia-Hercegovina
Bulgaria
Croatia
Cyprus
Czech Republic
Denmark
Estonia
Finland
Former Yugoslav Republic of Macedonia
France
Georgia
Germany
Greece
Hungary
Iceland
Ireland
Italy
Latvia
Liechtenstein
Lithuania
Luxembourg
Malta
Moldova
Monaco
Norway
Poland
Portugal
Romania
Russia
San Marino
Serbia and Montenegro
Slovakia
Slovenia
Spain
Sweden
Switzerland
The Netherlands
Turkey
Ukraine
United Kingdom
Vatican

In [4]:
zapisi

[('Albania', 'Europe', 28728, 3200000, 6656000000),
 ('Andorra', 'Europe', 468, 64000, None),
 ('Armenia', 'Europe', 29743, 3000000, 3360000000),
 ('Austria', 'Europe', 83871, 8100000, 261630000000),
 ('Azerbaijan', 'Europe', 86600, 8500000, None),
 ('Belarus', 'Europe', 207595, 9800000, 20776000000),
 ('Belgium', 'Europe', 30528, 10300000, 319609000000),
 ('Bosnia-Hercegovina', 'Europe', 51129, 4200000, 8568000000),
 ('Bulgaria', 'Europe', 110994, 7800000, 21372000000),
 ('Croatia', 'Europe', 56594, 4400000, 28996000000),
 ('Cyprus', 'Europe', 9250, 807000, 14187060000),
 ('Czech Republic', 'Europe', 78866, 10200000, 93330000000),
 ('Denmark', 'Europe', 43098, 5400000, 219510000000),
 ('Estonia', 'Europe', 45227, 1300000, 9113000000),
 ('Finland', 'Europe', 338145, 5200000, 170508000000),
 ('Former Yugoslav Republic of Macedonia',
  'Europe',
  25713,
  2000000,
  4700000000),
 ('France', 'Europe', 543965, 60700000, 1826463000000),
 ('Georgia', 'Europe', 69700, 5000000, 5200000000),
 ('Germany', 'Europe', 357027, 82500000, 2484900000000),
 ('Greece', 'Europe', 131957, 11000000, 182710000000),
 ('Hungary', 'Europe', 93030, 9800000, 81046000000),
 ('Iceland', 'Europe', 103000, 294000, 11354280000),
 ('Ireland', 'Europe', 70182, 4000000, 137120000000),
 ('Italy', 'Europe', 301338, 57200000, 1494064000000),
 ('Latvia', 'Europe', 64589, 2300000, None),
 ('Liechtenstein', 'Europe', 160, 34000, None),
 ('Lithuania', 'Europe', 65300, 3400000, 19516000000),
 ('Luxembourg', 'Europe', 2586, 465000, 26146950000),
 ('Malta', 'Europe', 316, 397000, 4863250000),
 ('Moldova', 'Europe', 33800, 4300000, 3053000000),
 ('Monaco', 'Europe', 2, 32000, None),
 ('Norway', 'Europe', 323759, 4600000, 239338000000),
 ('Poland', 'Europe', 312685, 38500000, 234465000000),
 ('Portugal', 'Europe', 92345, 10500000, 150675000000),
 ('Romania', 'Europe', 238391, 22200000, 64824000000),
 ('Russia', 'Europe', 17000000, 141500000, 482515000000),
 ('San Marino', 'Europe', 61, 27000, None),
 ('Serbia and Montenegro', 'Europe', 102173, 10500000, 27510000000),
 ('Slovakia', 'Europe', 49033, 5400000, 34992000000),
 ('Slovenia', 'Europe', 20273, 2000000, 29620000000),
 ('Spain', 'Europe', 505988, 44100000, 935361000000),
 ('Sweden', 'Europe', 449964, 8900000, 318353000000),
 ('Switzerland', 'Europe', 41284, 7100000, 342433000000),
 ('The Netherlands', 'Europe', 41864, 16300000, 516710000000),
 ('Turkey', 'Europe', 779452, 73300000, 274875000000),
 ('Ukraine', 'Europe', 603700, 47800000, 60228000000),
 ('United Kingdom', 'Europe', 242514, 59600000, 2022824000000),
 ('Vatican', 'Europe', 0, None, None)]

Namesto tega bi lahko z zanko `for` brali zapise enega po enega.

In [7]:
for ime, regija, povrsina, prebivalstvo, bdp in kazalec:
    print(ime, povrsina)

Albania 28728
Andorra 468
Armenia 29743
Austria 83871
Azerbaijan 86600
Belarus 207595
Belgium 30528
Bosnia-Hercegovina 51129
Bulgaria 110994
Croatia 56594
Cyprus 9250
Czech Republic 78866
Denmark 43098
Estonia 45227
Finland 338145
Former Yugoslav Republic of Macedonia 25713
France 543965
Georgia 69700
Germany 357027
Greece 131957
Hungary 93030
Iceland 103000
Ireland 70182
Italy 301338
Latvia 64589
Liechtenstein 160
Lithuania 65300
Luxembourg 2586
Malta 316
Moldova 33800
Monaco 2
Norway 323759
Poland 312685
Portugal 92345
Romania 238391
Russia 17000000
San Marino 61
Serbia and Montenegro 102173
Slovakia 49033
Slovenia 20273
Spain 505988
Sweden 449964
Switzerland 41284
The Netherlands 41864
Turkey 779452
Ukraine 603700
United Kingdom 242514
Vatican 0

Lahko pa tudi ročno beremo vrstico po vrstico.

In [20]:
kazalec.fetchone()

ProgrammingError: Cannot operate on a closed cursor.

In [17]:
next(kazalec)

('Bosnia-Hercegovina', 'Europe', 51129, 4200000, 8568000000)

Pristope lahko tudi kombiniramo.

In [18]:
for ime, *_, bdp in kazalec:
    print(ime, bdp)
    if ime == 'Slovenia':
        break
print(kazalec.fetchmany(5))
print(kazalec.fetchall())

Bulgaria 21372000000
Croatia 28996000000
Cyprus 14187060000
Czech Republic 93330000000
Denmark 219510000000
Estonia 9113000000
Finland 170508000000
Former Yugoslav Republic of Macedonia 4700000000
France 1826463000000
Georgia 5200000000
Germany 2484900000000
Greece 182710000000
Hungary 81046000000
Iceland 11354280000
Ireland 137120000000
Italy 1494064000000
Latvia None
Liechtenstein None
Lithuania 19516000000
Luxembourg 26146950000
Malta 4863250000
Moldova 3053000000
Monaco None
Norway 239338000000
Poland 234465000000
Portugal 150675000000
Romania 64824000000
Russia 482515000000
San Marino None
Serbia and Montenegro 27510000000
Slovakia 34992000000
Slovenia 29620000000
[('Spain', 'Europe', 505988, 44100000, 935361000000), ('Sweden', 'Europe', 449964, 8900000, 318353000000), ('Switzerland', 'Europe', 41284, 7100000, 342433000000), ('The Netherlands', 'Europe', 41864, 16300000, 516710000000), ('Turkey', 'Europe', 779452, 73300000, 274875000000)]
[('Ukraine', 'Europe', 603700, 47800000, 60228000000), ('United Kingdom', 'Europe', 242514, 59600000, 2022824000000), ('Vatican', 'Europe', 0, None, None)]

Nazadnje zaprimo kazalec in povezavo na bazo.

In [19]:
kazalec.close()
povezava.close()

# Še en primer

In [8]:
import sqlite3 as dbapi
# Povežemo se na novo bazo - s tem jo ustvarimo
conn = dbapi.connect("testdb.sqlite")
cur = conn.cursor()                        # Odpremo kazalec
cur.execute("DROP TABLE IF EXISTS test;")  # Zbrišemo tabelo, če že obstaja
# Izvedemo ukaz - ustvarimo tabelo
cur.execute("""
      CREATE TABLE test (
        id   integer PRIMARY KEY AUTOINCREMENT,
        num  integer,
        data text
      );
    """)
# Vstavimo podatke v tabelo
cur.execute("INSERT INTO test (num, data) VALUES (100, 'KU-KU');")
cur.execute("SELECT * FROM test;")         # Preberemo zapisane podatke
rezultat  = cur.fetchone()                 # Hočemo le eno vrstico
print(rezultat)                            # Izpiše se (1, 100, "KU-KU")
conn.commit()                              # Poskrbimo, da so spremembe trajne
# Zapremo povezave z bazo
cur.close()
conn.close()

(1, 100, 'KU-KU')

Kaj pa, če gre kaj narobe? V vsakem primeru želimo zapreti povezave - to lahko dosežemo z blokom `finally`.

In [3]:
import sqlite3 as dbapi
# Povežemo se na novo bazo - s tem jo ustvarimo
conn = dbapi.connect("testdb.sqlite")
try:
    cur = conn.cursor()                            # Odpremo kazalec
    try:
        cur.execute("DROP TABLE IF EXISTS test;")  # Zbrišemo tabelo, če že obstaja
        # Izvedemo ukaz - ustvarimo tabelo
        cur.execute("""
              CREATE TABLE test (
                id   integer PRIMARY KEY AUTOINCREMENT,
                num  integer,
                data text
              );
            """)
        # Vstavimo podatke v tabelo
        cur.execute("INSERT INTO test (num, data) VALUES (100, 'KU-KU');")
        cur.execute("SELECT * FROM test;")         # Preberemo zapisane podatke
        rezultat  = cur.fetchone()                 # Hočemo le eno vrstico
        print(rezultat)                            # Izpiše se (1, 100, "KU-KU")
        # Vstavimo še eno vrstico
        cur.execute("INSERT INTO test (id, num, data) VALUES (1, 200, 'kaj pa zdaj?');")
        # Tukaj pride do napake, saj bi se ponovila vrednost v stolpcu id
        conn.commit()                              # Poskrbimo, da so spremembe trajne
    finally:
        # Zapremo povezavo s kazalcem
        print("Zapiramo kazalec")
        cur.close()
except dbapi.IntegrityError as ex:
    conn.rollback()                                # Prekličemo spremembe
    print(f"Prišlo je do napake: {ex}!")
    cur = conn.cursor()                            # Odpremo nov kazalec, ker smo starega zaprli
    cur.execute("SELECT * FROM test;")             # Preberemo zapisane podatke
    rezultat  = cur.fetchone()                     # Hočemo le eno vrstico
    print(rezultat)                                # Ni take vrstice, dobimo None
    cur.close()
finally:
    # Zapremo povezavo z bazo
    print("Zapiramo povezavo z bazo")
    conn.close()

(1, 100, 'KU-KU')
Zapiramo kazalec
Prišlo je do napake: UNIQUE constraint failed: test.id!
None
Zapiramo povezavo z bazo

# Uporaba `with`

Z `ẁith` poskrbimo za potrditev transakcije ob uspešnem izvajanju oziroma za preklic ob napaki.

In [9]:
import sqlite3 as dbapi
conn = dbapi.connect("testdb.sqlite")
cur = conn.cursor()
try:
    with conn:
        cur.execute("INSERT INTO test (num, data) VALUES (100, 'prva vrstica');")
        cur.execute("""
            INSERT INTO test (id, num, data)
            VALUES (2, 200, 'kaj pa zdaj?');
            """)
        cur.execute("INSERT INTO test (num, data) VALUES (300, 'še nekaj');")
except dbapi.IntegrityError as ex:
    print(f"Napaka: {ex}")

Napaka: UNIQUE constraint failed: test.id

Poglejmo, kaj se nahaja v tabeli.

In [10]:
cur.execute("SELECT * FROM test;")
cur.fetchall()

[(1, 100, 'KU-KU')]

Kazalec in povezava sta ostala odprta, tako da ju na koncu zapremo.

In [11]:
cur.close()
conn.close()

# Parametriziranje ukazov SQL

Parametre lahko vstavljamo v ukaze SQL tako, da na njihova mesta zapišemo `?` ali ime parametra za `:`, njihove vrednosti pa podamo z drugim parametrom metode `execute`.

In [12]:
import sqlite3 as dbapi
conn = dbapi.connect("bbc.db")

In [13]:
def drzava(conn, ime):
    cur = conn.cursor()
    try:
        cur.execute("SELECT * FROM bbc WHERE name = ?;", (ime, ))
        return cur.fetchone()
    finally:
        cur.close()

In [14]:
drzava(conn, 'Slovenia')

('Slovenia', 'Europe', 20273, 2000000, 29620000000)

In [15]:
def prebivalstvo(conn, min, max):
    cur = conn.cursor()
    try:
        cur.execute("""
              SELECT * FROM bbc
               WHERE population BETWEEN ? AND ?;
            """, [min, max])
        return cur.fetchall()
    finally:
        cur.close()

In [16]:
prebivalstvo(conn, 1000000, 10000000)

[('Albania', 'Europe', 28728, 3200000, 6656000000),
 ('Armenia', 'Europe', 29743, 3000000, 3360000000),
 ('Austria', 'Europe', 83871, 8100000, 261630000000),
 ('Azerbaijan', 'Europe', 86600, 8500000, None),
 ('Belarus', 'Europe', 207595, 9800000, 20776000000),
 ('Benin', 'Africa', 112622, 7100000, 3763000000),
 ('Bhutan', 'South Asia', 38364, 2400000, 1824000000),
 ('Bolivia', 'South America', 1100000, 9100000, None),
 ('Bosnia-Hercegovina', 'Europe', 51129, 4200000, 8568000000),
 ('Botswana', 'Africa', 581730, 1800000, 7812000000),
 ('Bulgaria', 'Europe', 110994, 7800000, 21372000000),
 ('Burundi', 'Africa', 27816, 7300000, None),
 ('Central African Republic', 'Africa', 622984, 3900000, None),
 ('Chad', 'Africa', 1280000, 9100000, 2366000000),
 ('Costa Rica', 'Americas', 51100, 4300000, None),
 ('Croatia', 'Europe', 56594, 4400000, 28996000000),
 ('Denmark', 'Europe', 43098, 5400000, 219510000000),
 ('Dominican Republic', 'Americas', 48072, 9000000, None),
 ('El Salvador', 'Americas', 21041, 6700000, 15745000000),
 ('Eritrea', 'Africa', 117400, 4561599, None),
 ('Estonia', 'Europe', 45227, 1300000, 9113000000),
 ('Finland', 'Europe', 338145, 5200000, 170508000000),
 ('Former Yugoslav Republic of Macedonia',
  'Europe',
  25713,
  2000000,
  4700000000),
 ('Gabon', 'Africa', 267667, 1400000, None),
 ('Georgia', 'Europe', 69700, 5000000, 5200000000),
 ('Guinea', 'Africa', 245857, 8800000, 4048000000),
 ('Guinea-Bissau', 'Africa', 36125, 1600000, 256000000),
 ('Haiti', 'Americas', 27750, 8500000, None),
 ('Honduras', 'Americas', 112492, 7200000, 7416000000),
 ('Hungary', 'Europe', 93030, 9800000, 81046000000),
 ('Ireland', 'Europe', 70182, 4000000, 137120000000),
 ('Israel and Palestinian territories',
  'Middle East',
  20770,
  3800000,
  4256000000),
 ('Jamaica', 'Americas', 10991, 2700000, 7830000000),
 ('Jordan', 'Middle East', 89342, 5700000, 12198000000),
 ('Kuwait', 'Middle East', 17818, 2700000, 48519000000),
 ('Kyrgyzstan', 'Asia-Pacific', 199900, 5300000, None),
 ('Laos', 'Asia-Pacific', 236800, 5900000, 2301000000),
 ('Latvia', 'Europe', 64589, 2300000, None),
 ('Lebanon', 'Middle East', 10452, 3800000, 18924000000),
 ('Lesotho', 'Africa', 30355, 1800000, 1332000000),
 ('Liberia', 'Africa', 99067, 3600000, 396000000),
 ('Libya', 'Africa', 1770000, 5800000, 25810000000),
 ('Lithuania', 'Europe', 65300, 3400000, 19516000000),
 ('Mauritania', 'Middle East', 1040000, 3100000, 1302000000),
 ('Mauritius', 'Africa', 2040, 1200000, 5568000000),
 ('Moldova', 'Europe', 33800, 4300000, 3053000000),
 ('Mongolia', 'Asia-Pacific', 1560000, 2700000, None),
 ('Namibia', 'Africa', 824292, 2000000, 4740000000),
 ('New Zealand', 'Asia-Pacific', 270534, 4000000, 81240000000),
 ('Nicaragua', 'Americas', 120254, 5700000, 4503000000),
 ('Norway', 'Europe', 323759, 4600000, 239338000000),
 ('Oman', 'Middle East', 309500, 3000000, 23670000000),
 ('Panama', 'Americas', 75517, 3200000, None),
 ('Papua New Guinea', 'Asia-Pacific', 462840, 5900000, 3422000000),
 ('Paraguay', 'South America', 406752, 6200000, None),
 ('Republic of Congo', 'Africa', 342000, 3039126, None),
 ('Rwanda', 'Africa', 26338, 8600000, 1892000000),
 ('Sierra Leone', 'Africa', 71740, 5300000, 1060000000),
 ('Singapore', 'Asia-Pacific', 660, 4400000, 106568000000),
 ('Slovakia', 'Europe', 49033, 5400000, 34992000000),
 ('Slovenia', 'Europe', 20273, 2000000, 29620000000),
 ('Swaziland', 'Africa', 17364, 1100000, 1826000000),
 ('Sweden', 'Europe', 449964, 8900000, 318353000000),
 ('Switzerland', 'Europe', 41284, 7100000, 342433000000),
 ('Tajikistan', 'Asia-Pacific', 143100, 6300000, None),
 ('The Gambia', 'Africa', 11295, 1500000, None),
 ('Togo', 'Africa', 56785, 5100000, 1938000000),
 ('Trinidad and Tobago', 'Americas', 5128, 1300000, None),
 ('Tunisia', 'Middle East', 164150, 10000000, 26300000000),
 ('Turkmenistan', 'Asia-Pacific', 488100, 5000000, None),
 ('United Arab Emirates', 'Middle East', 77700, 3100000, None),
 ('Uruguay', 'South America', 176215, 3500000, None)]

In [17]:
def prebivalstvo_povrsina(conn, vrednost):
    cur = conn.cursor()
    try:
        cur.execute("""
              SELECT * FROM bbc
               WHERE population >= :vrednost AND
                     area >= :vrednost;
            """, {'vrednost': vrednost})
        return cur.fetchall()
    finally:
        cur.close()

In [18]:
prebivalstvo_povrsina(conn, 2000000)

[('Algeria', 'Middle East', 2400000, 32900000, 75012000000),
 ('Argentina', 'South America', 2800000, 39300000, 146196000000),
 ('Australia', 'Asia-Pacific', 7700000, 20300000, 546070000000),
 ('Brazil', 'South America', 8550000, 182800000, 564852000000),
 ('Canada', 'North America', 9900000, 32000000, 908480000000),
 ('China', 'Asia-Pacific', 9600000, 1300000000, 1677000000000),
 ('Democratic Republic of Congo', 'Africa', 2340000, 56000000, 6720000000),
 ('India', 'South Asia', 3100000, 1100000000, 682000000000),
 ('Kazakhstan', 'Asia-Pacific', 2700000, 15400000, None),
 ('Russia', 'Europe', 17000000, 141500000, 482515000000),
 ('Saudi Arabia', 'Middle East', 2240000, 25600000, 267008000000),
 ('Sudan', 'Middle East', 2500000, 35000000, 18550000000),
 ('United States of America',
  'North America',
  9800000,
  295000000,
  12213000000000)]

In [19]:
conn.close()

# SQL injection

Če nismo pazljivi pri vstavljanju podatkov v stavke SQL, lahko zlonameren uporabnik doseže, da se izvedejo ukazi, ki jih razvijalec aplikacije ni predvidel.

Denimo, da imamo v bazi tabelo uporabnikov, ki hrani njihova uporabniška imena, gesla in zastavico, ali gre za administratorja.

**Opomba:** v praksi gesel nikoli ne hranimo v bazi v čisti obliki!

In [20]:
import sqlite3 as dbapi
conn = dbapi.connect("testdb.sqlite")
conn.set_trace_callback(print)
cur = conn.cursor()

try:
    with conn:
        cur.executescript("""
              DROP TABLE IF EXISTS uporabnik;
              CREATE TABLE uporabnik (
                id              integer PRIMARY KEY AUTOINCREMENT,
                uporabnisko_ime text    NOT NULL UNIQUE,
                geslo           text    NOT NULL,
                admin           integer NOT NULL DEFAULT 0
              );
            """)
        cur.executemany("""
              INSERT INTO uporabnik (uporabnisko_ime, geslo, admin)
              VALUES (?, ?, ?)
            """, [('admin', '$kr1wn0G35l0', 1),
                  ('janez', 'geslo123', 0)])
finally:
    cur.close()

              DROP TABLE IF EXISTS uporabnik;

              CREATE TABLE uporabnik (
                id              integer PRIMARY KEY AUTOINCREMENT,
                uporabnisko_ime text    NOT NULL UNIQUE,
                geslo           text    NOT NULL,
                admin           integer NOT NULL DEFAULT 0
              );
BEGIN

              INSERT INTO uporabnik (uporabnisko_ime, geslo, admin)
              VALUES ('admin', '$kr1wn0G35l0', 1)


              INSERT INTO uporabnik (uporabnisko_ime, geslo, admin)
              VALUES ('janez', 'geslo123', 0)

COMMIT

Denimo, da s sledečo funkcijo preverjamo podatke, ki jih uporabnik vnese v prijavni obrazec. Ob uspešni prijavi funkcija vrne par `(id, admin)`, kjer je `id` zaporedna številka uporabnika, `admin` pa zastavica, ki pove, ali je uporabnik administrator. Ob neuspešni prijavi (napačno uporabniško ime ali geslo) funkcija vrne `None`.

In [21]:
def prijava_slaba(conn, uporabnisko_ime, geslo):
    cur = conn.cursor()
    try:
        cur.execute(f"""
              SELECT id, admin FROM uporabnik
               WHERE uporabnisko_ime = '{uporabnisko_ime}' AND
                     geslo = '{geslo}';
            """)
        return cur.fetchone()
    finally:
        cur.close()

Preverimo delovanje funkcije na nekaj primerih.

In [22]:
prijava_slaba(conn, 'janez', 'geslo123')

              SELECT id, admin FROM uporabnik
               WHERE uporabnisko_ime = 'janez' AND
                     geslo = 'geslo123';

(2, 0)

In [23]:
prijava_slaba(conn, 'janez', 'napacno_geslo')

              SELECT id, admin FROM uporabnik
               WHERE uporabnisko_ime = 'janez' AND
                     geslo = 'napacno_geslo';

In [24]:
prijava_slaba(conn, 'micka', 'geslo123')

              SELECT id, admin FROM uporabnik
               WHERE uporabnisko_ime = 'micka' AND
                     geslo = 'geslo123';

Ob uporabi zgornje funkcije lahko zlonameren uporabnik sestavi take vhodne podatke, da bo funkcija vrnila podatke uporabnika `admin` z administratorskimi pravicami, čeprav zanj ne pozna gesla.

In [25]:
prijava_slaba(conn, "admin' OR 0 AND --", "")

              SELECT id, admin FROM uporabnik
               WHERE uporabnisko_ime = 'admin' OR 0 AND --' AND
                     geslo = '';

(1, 1)

Tudi, če uporabnik ni zlonameren, lahko morda povzroči napako v delovanju programa.

In [26]:
prijava_slaba(conn, "franci", "ges'lce")

OperationalError: near "lce": syntax error

Zapišimo popravljeno funkcijo za prijavo.

In [27]:
def prijava_dobra(conn, uporabnisko_ime, geslo):
    cur = conn.cursor()
    try:
        cur.execute("""
              SELECT id, admin FROM uporabnik
               WHERE uporabnisko_ime = ? AND
                     geslo = ?;
            """, (uporabnisko_ime, geslo))
        return cur.fetchone()
    finally:
        cur.close()

In [28]:
prijava_dobra(conn, 'janez', 'geslo123')

              SELECT id, admin FROM uporabnik
               WHERE uporabnisko_ime = 'janez' AND
                     geslo = 'geslo123';

(2, 0)

In [29]:
prijava_dobra(conn, 'janez', 'napacno_geslo')

              SELECT id, admin FROM uporabnik
               WHERE uporabnisko_ime = 'janez' AND
                     geslo = 'napacno_geslo';

In [30]:
prijava_dobra(conn, 'micka', 'geslo123')

              SELECT id, admin FROM uporabnik
               WHERE uporabnisko_ime = 'micka' AND
                     geslo = 'geslo123';

In [31]:
prijava_dobra(conn, "admin' OR 0 AND --", "")

              SELECT id, admin FROM uporabnik
               WHERE uporabnisko_ime = 'admin'' OR 0 AND --' AND
                     geslo = '';

In [32]:
prijava_dobra(conn, "franci", "ges'lce")

              SELECT id, admin FROM uporabnik
               WHERE uporabnisko_ime = 'franci' AND
                     geslo = 'ges''lce';

In [33]:
conn.close()